h1 {
	color: rgb(0, 0, 0);
}

.main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 20%;
}

.second {
	display: ruby;
	width: 75%;
}

.marco {
	background-color: rgb(255, 255, 255);
	border-radius: 20px;
	margin: 12% 5% 12% 5%;
	color: black;
}

.marcoButtonDo {
	padding: 2%;
	background-color: aqua;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	margin-bottom: 0;
	cursor: pointer;
	color: #fff;
}
.marcoButtonUnDo {
	padding: 2%;
	background-color: rgb(255, 132, 17);
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	margin-bottom: 0;
	cursor: pointer;
	color: #fff;
}
.marcoTitulo {
	border-bottom: solid 2px rgb(119, 118, 118);
	text-align: center;
	margin-top: 10px;
}
.etiquetas {
	display: flex;
	justify-content: space-around;
}
.etiqueta {
	background-color: rgb(110, 85, 255);
	padding: 5px 15px 5px 15px;
	border-radius: 10px;
	color: #fff;
	margin-top: -10px;
}

footer {
	background-color: rgb(119, 118, 118);
	position: relative;
	bottom: 0px;
	width: 100%;
	height: 10vh;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2em;
}
